In [2]:
import pandas as pd
import numpy as np
import datetime
import seaborn as sns
from matplotlib import rcParams
import matplotlib.pyplot as plt
# figure size in inches
rcParams['figure.figsize'] = 30,8

In [3]:
df_holidays = pd.read_excel ('data/db_load_files/calendario.xls')

In [4]:
df_holidays.head(50)

,Dia,Dia_semana,laborable / festivo / domingo festivo,Tipo de Festivo,Festividad
0,2013-01-01,martes,festivo,Festivo nacional,Año Nuevo
1,2013-01-02,miércoles,laborable,NaN,NaN
2,2013-01-03,jueves,laborable,NaN,NaN
3,2013-01-04,viernes,laborable,NaN,NaN
4,2013-01-05,sábado,sábado,NaN,NaN
5,2013-01-06,domingo,domingo,NaN,NaN
6,2013-01-07,lunes,festivo,Festivo nacional,Traslado Epifania del Señor
7,2013-01-08,martes,laborable,NaN,NaN
8,2013-01-09,miércoles,laborable,NaN,NaN
9,2013-01-10,jueves,laborable,NaN,NaN
10,2013-01-11,viernes,laborable,NaN,NaN
11,2013-01-12,sábado,sábado,NaN,NaN
12,2013-01-13,domingo,domingo,NaN,NaN
13,2013-01-14,lunes,laborable,NaN,NaN
14,2013-01-15,martes,laborable,NaN,NaN
15,2013-01-16,miércoles,laborable,NaN,NaN
16,2013-01-17,jueves,laborable,NaN,NaN
17,2013-01-18,viernes,laborable,NaN,NaN
18,2013-01-19,sábado,sábado,NaN,NaN
19,2013-01-20,domingo,domingo,NaN,NaN
20,2013-01-21,lunes,laborable,NaN,NaN
21,2013-01-22,martes,laborable,NaN,NaN
22,2013-01-23,miércoles,laborable,NaN,NaN
23,2013-01-24,jueves,laborable,NaN,NaN
24,2013-01-25,viernes,laborable,NaN,NaN
25,2013-01-26,sábado,sábado,NaN,NaN
26,2013-01-27,domingo,domingo,NaN,NaN
27,2013-01-28,lunes,laborable,NaN,NaN
28,2013-01-29,martes,laborable,NaN,NaN
29,2013-01-30,miércoles,laborable,NaN,NaN
30,2013-01-31,jueves,laborable,NaN,NaN
31,2013-02-01,viernes,laborable,NaN,NaN
32,2013-02-02,sábado,sábado,NaN,NaN
33,2013-02-03,domingo,domingo,NaN,NaN
34,2013-02-04,lunes,laborable,NaN,NaN
35,2013-02-05,martes,laborable,NaN,NaN
36,2013-02-06,miércoles,laborable,NaN,NaN
37,2013-02-07,jueves,laborable,NaN,NaN
38,2013-02-08,viernes,laborable,NaN,NaN
39,2013-02-09,sábado,sábado,NaN,NaN
40,2013-02-10,domingo,domingo,NaN,NaN
41,2013-02-11,lunes,laborable,NaN,NaN
42,2013-02-12,martes,laborable,NaN,NaN
43,2013-02-13,miércoles,laborable,NaN,NaN
44,2013-02-14,jueves,laborable,NaN,NaN
45,2013-02-15,viernes,laborable,NaN,NaN
46,2013-02-16,sábado,sábado,NaN,NaN
47,2013-02-17,domingo,domingo,NaN,NaN
48,2013-02-18,lunes,laborable,NaN,NaN
49,2013-02-19,martes,laborable,NaN,NaN

In [14]:
df_holidays.dtypes

Dia                                      datetime64[ns]
Dia_semana                                       object
laborable / festivo / domingo festivo            object
Tipo de Festivo                                  object
Festividad                                       object
dtype: object

In [15]:
df_holidays.columns

Index(['Dia', 'Dia_semana', 'laborable / festivo / domingo festivo',
       'Tipo de Festivo', 'Festividad'],
      dtype='object')

In [16]:
df_holidays.rename(columns={'Dia': 'date','laborable / festivo / domingo festivo': 'day_type', 'Festividad': 'holiday_name', 'Tipo de Festivo':'holiday_type' }, inplace=True)

In [17]:
del df_holidays['Dia_semana']

In [18]:
df_holidays.sample(60)

           date   day_type      holiday_type           holiday_name
1279 2016-07-03    domingo               NaN                    NaN
1725 2017-09-22  laborable               NaN                    NaN
2746 2020-07-09  laborable               NaN                    NaN
270  2013-09-28     sábado               NaN                    NaN
2748 2020-07-11     sábado               NaN                    NaN
2873 2020-11-13  laborable               NaN                    NaN
1337 2016-08-30  laborable               NaN                    NaN
1787 2017-11-23  laborable               NaN                    NaN
2895 2020-12-05     sábado               NaN                    NaN
2783 2020-08-15    festivo  Festivo nacional  Asuncion de la Virgen
2962 2021-02-10  laborable               NaN                    NaN
1782 2017-11-18     sábado               NaN                    NaN
2232 2019-02-11  laborable               NaN                    NaN
2096 2018-09-28  laborable               NaN                    NaN
1172 2016-03-18  laborable               NaN                    NaN
2699 2020-05-23     sábado               NaN                    NaN
1755 2017-10-22    domingo               NaN                    NaN
894  2015-06-14    domingo               NaN                    NaN
167  2013-06-17  laborable               NaN                    NaN
1249 2016-06-03  laborable               NaN                    NaN
1757 2017-10-24  laborable               NaN                    NaN
2146 2018-11-17     sábado               NaN                    NaN
2467 2019-10-04  laborable               NaN                    NaN
874  2015-05-25  laborable               NaN                    NaN
2967 2021-02-15  laborable               NaN                    NaN
105  2013-04-16  laborable               NaN                    NaN
3122 2021-07-20  laborable               NaN                    NaN
1605 2017-05-25  laborable               NaN                    NaN
146  2013-05-27  laborable               NaN                    NaN
3171 2021-09-07  laborable               NaN                    NaN
2938 2021-01-17    domingo               NaN                    NaN
2063 2018-08-26    domingo               NaN                    NaN
293  2013-10-21  laborable               NaN                    NaN
1296 2016-07-20  laborable               NaN                    NaN
2141 2018-11-12  laborable               NaN                    NaN
3166 2021-09-02  laborable               NaN                    NaN
271  2013-09-29    domingo               NaN                    NaN
676  2014-11-08     sábado               NaN                    NaN
1990 2018-06-14  laborable               NaN                    NaN
1700 2017-08-28  laborable               NaN                    NaN
2810 2020-09-11  laborable               NaN                    NaN
1937 2018-04-22    domingo               NaN                    NaN
2177 2018-12-18  laborable               NaN                    NaN
514  2014-05-30  laborable               NaN                    NaN
195  2013-07-15  laborable               NaN                    NaN
1183 2016-03-29  laborable               NaN                    NaN
2317 2019-05-07  laborable               NaN                    NaN
3037 2021-04-26  laborable               NaN                    NaN
861  2015-05-12  laborable               NaN                    NaN
2610 2020-02-24  laborable               NaN                    NaN
1845 2018-01-20     sábado               NaN                    NaN
438  2014-03-15     sábado               NaN                    NaN
357  2013-12-24  laborable               NaN                    NaN
896  2015-06-16  laborable               NaN                    NaN
2227 2019-02-06  laborable               NaN                    NaN
1127 2016-02-02  laborable               NaN                    NaN
1250 2016-06-04     sábado               NaN                    NaN
363  2013-12-30  laborable               NaN                    NaN
846  2015-04-27  laborable               NaN                    NaN
927  2015-07-17  laborable               NaN                    NaN

In [24]:
mask = (df_holidays['date'] > '2015-09-20') & (df_holidays['date'] <= '2021-05-11')

In [25]:
new_df_holidays = df_holidays.loc[mask]

In [26]:
new_df_holidays

           date   day_type holiday_type holiday_name
993  2015-09-21  laborable          NaN          NaN
994  2015-09-22  laborable          NaN          NaN
995  2015-09-23  laborable          NaN          NaN
996  2015-09-24  laborable          NaN          NaN
997  2015-09-25  laborable          NaN          NaN
...         ...        ...          ...          ...
3048 2021-05-07  laborable          NaN          NaN
3049 2021-05-08     sábado          NaN          NaN
3050 2021-05-09    domingo          NaN          NaN
3051 2021-05-10  laborable          NaN          NaN
3052 2021-05-11  laborable          NaN          NaN

[2060 rows x 4 columns]

In [28]:
#List all my missing dates
pd.date_range(start = '2015-09-21', end = '2021-05-11' ).difference(new_df_holidays.date)

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [29]:
new_df_holidays = new_df_holidays.set_index("date")
new_df_holidays

             day_type holiday_type holiday_name
date
2015-09-21  laborable          NaN          NaN
2015-09-22  laborable          NaN          NaN
2015-09-23  laborable          NaN          NaN
2015-09-24  laborable          NaN          NaN
2015-09-25  laborable          NaN          NaN
...               ...          ...          ...
2021-05-07  laborable          NaN          NaN
2021-05-08     sábado          NaN          NaN
2021-05-09    domingo          NaN          NaN
2021-05-10  laborable          NaN          NaN
2021-05-11  laborable          NaN          NaN

[2060 rows x 3 columns]

In [30]:
new_df_holidays.index.is_all_dates

<ipython-input-30-46e86d0e768b>:1: FutureWarning: Index.is_all_dates is deprecated, will be removed in a future version.  check index.inferred_type instead
  new_df_holidays.index.is_all_dates

True

In [32]:
pd.infer_freq(new_df_holidays.index)

'D'

In [36]:
new_df_holidays.day_type.unique()

array(['laborable', 'sábado', 'domingo', 'festivo'], dtype=object)

In [37]:
new_df_holidays.holiday_type.unique()

array([nan, 'Festivo nacional', 'Festivo local de la ciudad de Madrid',
       'Festivo de la comunidad de Madrid',
       'Festivo de la Comunidad de Madrid'], dtype=object)

In [38]:
new_df_holidays.holiday_name.unique()

array([nan, 'Fiesta Nacional de España', 'Todos los Santos',
       'Ntra. Sra. de la Almudena. Patrona de la ciudad',
       'Día de la Constitución', 'Inmaculada Concepción',
       'Natividad del Señor', 'Año Nuevo', 'Epifania del Señor',
       'Jueves Santo', 'Viernes Santo', 'Fiesta del Trabajo',
       'Dos de Mayo. Fiesta de la Comunidad de Madrid',
       'Traslado San Isidro Labrador', 'Santiago Apostol',
       'Asuncion de la Virgen', 'Traslado Natividad del Señor',
       'Traslado de la festividad de San Jose', 'San Isidro Labrador',
       'traslado de la Epifanía del Señor',
       'traslado de la Inmaculada Concepción',
       'Fiesta de la Comunidad de Madrid',
       'Traslado del Día de Todos los Santos',
       'Traslado del Día de la Constitución', 'San José',
       'Traslado Fiesta de la Comunidad de Madrid'], dtype=object)

new_df_holidays.to_csv("data/holidays_clean.csv" , index=True)