In [1]:
import pandas as pd
import numpy as np
import datetime
import seaborn as sns
from matplotlib import rcParams
import matplotlib.pyplot as plt
# figure size in inches
rcParams['figure.figsize'] = 30,8

In [2]:
df_holidays = pd.read_excel ('data/db_load_files/calendario.xls')

In [3]:
df_holidays.head(50)

,Dia,Dia_semana,laborable / festivo / domingo festivo,Tipo de Festivo,Festividad
0,2013-01-01,martes,festivo,Festivo nacional,Año Nuevo
1,2013-01-02,miércoles,laborable,NaN,NaN
2,2013-01-03,jueves,laborable,NaN,NaN
3,2013-01-04,viernes,laborable,NaN,NaN
4,2013-01-05,sábado,sábado,NaN,NaN
5,2013-01-06,domingo,domingo,NaN,NaN
6,2013-01-07,lunes,festivo,Festivo nacional,Traslado Epifania del Señor
7,2013-01-08,martes,laborable,NaN,NaN
8,2013-01-09,miércoles,laborable,NaN,NaN
9,2013-01-10,jueves,laborable,NaN,NaN
10,2013-01-11,viernes,laborable,NaN,NaN
11,2013-01-12,sábado,sábado,NaN,NaN
12,2013-01-13,domingo,domingo,NaN,NaN
13,2013-01-14,lunes,laborable,NaN,NaN
14,2013-01-15,martes,laborable,NaN,NaN
15,2013-01-16,miércoles,laborable,NaN,NaN
16,2013-01-17,jueves,laborable,NaN,NaN
17,2013-01-18,viernes,laborable,NaN,NaN
18,2013-01-19,sábado,sábado,NaN,NaN
19,2013-01-20,domingo,domingo,NaN,NaN
20,2013-01-21,lunes,laborable,NaN,NaN
21,2013-01-22,martes,laborable,NaN,NaN
22,2013-01-23,miércoles,laborable,NaN,NaN
23,2013-01-24,jueves,laborable,NaN,NaN
24,2013-01-25,viernes,laborable,NaN,NaN
25,2013-01-26,sábado,sábado,NaN,NaN
26,2013-01-27,domingo,domingo,NaN,NaN
27,2013-01-28,lunes,laborable,NaN,NaN
28,2013-01-29,martes,laborable,NaN,NaN
29,2013-01-30,miércoles,laborable,NaN,NaN
30,2013-01-31,jueves,laborable,NaN,NaN
31,2013-02-01,viernes,laborable,NaN,NaN
32,2013-02-02,sábado,sábado,NaN,NaN
33,2013-02-03,domingo,domingo,NaN,NaN
34,2013-02-04,lunes,laborable,NaN,NaN
35,2013-02-05,martes,laborable,NaN,NaN
36,2013-02-06,miércoles,laborable,NaN,NaN
37,2013-02-07,jueves,laborable,NaN,NaN
38,2013-02-08,viernes,laborable,NaN,NaN
39,2013-02-09,sábado,sábado,NaN,NaN
40,2013-02-10,domingo,domingo,NaN,NaN
41,2013-02-11,lunes,laborable,NaN,NaN
42,2013-02-12,martes,laborable,NaN,NaN
43,2013-02-13,miércoles,laborable,NaN,NaN
44,2013-02-14,jueves,laborable,NaN,NaN
45,2013-02-15,viernes,laborable,NaN,NaN
46,2013-02-16,sábado,sábado,NaN,NaN
47,2013-02-17,domingo,domingo,NaN,NaN
48,2013-02-18,lunes,laborable,NaN,NaN
49,2013-02-19,martes,laborable,NaN,NaN

In [4]:
df_holidays.dtypes

Dia                                      datetime64[ns]
Dia_semana                                       object
laborable / festivo / domingo festivo            object
Tipo de Festivo                                  object
Festividad                                       object
dtype: object

In [5]:
df_holidays.columns

Index(['Dia', 'Dia_semana', 'laborable / festivo / domingo festivo',
       'Tipo de Festivo', 'Festividad'],
      dtype='object')

In [6]:
df_holidays.rename(columns={'Dia': 'date','laborable / festivo / domingo festivo': 'day_type', 'Festividad': 'holiday_name', 'Tipo de Festivo':'holiday_type' }, inplace=True)

In [7]:
del df_holidays['Dia_semana']

In [8]:
df_holidays.sample(60)

           date   day_type      holiday_type           holiday_name
1941 2018-04-26  laborable               NaN                    NaN
2834 2020-10-05  laborable               NaN                    NaN
1203 2016-04-18  laborable               NaN                    NaN
25   2013-01-26     sábado               NaN                    NaN
289  2013-10-17  laborable               NaN                    NaN
2043 2018-08-06  laborable               NaN                    NaN
2627 2020-03-12  laborable               NaN                    NaN
2526 2019-12-02  laborable               NaN                    NaN
1825 2017-12-31    domingo               NaN                    NaN
1197 2016-04-12  laborable               NaN                    NaN
341  2013-12-08    festivo  Festivo nacional  Inmaculada Concepción
2673 2020-04-27  laborable               NaN                    NaN
3266 2021-12-11     sábado               NaN                    NaN
1655 2017-07-14  laborable               NaN                    NaN
1799 2017-12-05  laborable               NaN                    NaN
544  2014-06-29    domingo               NaN                    NaN
338  2013-12-05  laborable               NaN                    NaN
2531 2019-12-07     sábado               NaN                    NaN
2583 2020-01-28  laborable               NaN                    NaN
2271 2019-03-22  laborable               NaN                    NaN
1444 2016-12-15  laborable               NaN                    NaN
1882 2018-02-26  laborable               NaN                    NaN
2749 2020-07-12    domingo               NaN                    NaN
848  2015-04-29  laborable               NaN                    NaN
1984 2018-06-08  laborable               NaN                    NaN
1097 2016-01-03    domingo               NaN                    NaN
776  2015-02-16  laborable               NaN                    NaN
2058 2018-08-21  laborable               NaN                    NaN
2656 2020-04-10    festivo  Festivo nacional          Viernes Santo
1567 2017-04-17  laborable               NaN                    NaN
865  2015-05-16     sábado               NaN                    NaN
1533 2017-03-14  laborable               NaN                    NaN
2595 2020-02-09    domingo               NaN                    NaN
2227 2019-02-06  laborable               NaN                    NaN
3060 2021-05-19  laborable               NaN                    NaN
1032 2015-10-30  laborable               NaN                    NaN
1337 2016-08-30  laborable               NaN                    NaN
460  2014-04-06    domingo               NaN                    NaN
1080 2015-12-17  laborable               NaN                    NaN
3099 2021-06-27    domingo               NaN                    NaN
1261 2016-06-15  laborable               NaN                    NaN
633  2014-09-26  laborable               NaN                    NaN
484  2014-04-30  laborable               NaN                    NaN
1246 2016-05-31  laborable               NaN                    NaN
2473 2019-10-10  laborable               NaN                    NaN
209  2013-07-29  laborable               NaN                    NaN
2900 2020-12-10  laborable               NaN                    NaN
3013 2021-04-02    festivo  Festivo nacional          Viernes Santo
2317 2019-05-07  laborable               NaN                    NaN
1024 2015-10-22  laborable               NaN                    NaN
2878 2020-11-18  laborable               NaN                    NaN
210  2013-07-30  laborable               NaN                    NaN
428  2014-03-05  laborable               NaN                    NaN
1054 2015-11-21     sábado               NaN                    NaN
2596 2020-02-10  laborable               NaN                    NaN
3239 2021-11-14    domingo               NaN                    NaN
1299 2016-07-23     sábado               NaN                    NaN
504  2014-05-20  laborable               NaN                    NaN
2404 2019-08-02  laborable               NaN                    NaN
21   2013-01-22  laborable               NaN                    NaN

In [9]:
mask = (df_holidays['date'] > '2015-09-20') & (df_holidays['date'] <= '2021-05-11')

In [10]:
new_df_holidays = df_holidays.loc[mask]

In [11]:
new_df_holidays

           date   day_type holiday_type holiday_name
993  2015-09-21  laborable          NaN          NaN
994  2015-09-22  laborable          NaN          NaN
995  2015-09-23  laborable          NaN          NaN
996  2015-09-24  laborable          NaN          NaN
997  2015-09-25  laborable          NaN          NaN
...         ...        ...          ...          ...
3048 2021-05-07  laborable          NaN          NaN
3049 2021-05-08     sábado          NaN          NaN
3050 2021-05-09    domingo          NaN          NaN
3051 2021-05-10  laborable          NaN          NaN
3052 2021-05-11  laborable          NaN          NaN

[2060 rows x 4 columns]

In [12]:
#List all my missing dates
pd.date_range(start = '2015-09-21', end = '2021-05-11' ).difference(new_df_holidays.date)

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [13]:
new_df_holidays = new_df_holidays.set_index("date")
new_df_holidays

             day_type holiday_type holiday_name
date
2015-09-21  laborable          NaN          NaN
2015-09-22  laborable          NaN          NaN
2015-09-23  laborable          NaN          NaN
2015-09-24  laborable          NaN          NaN
2015-09-25  laborable          NaN          NaN
...               ...          ...          ...
2021-05-07  laborable          NaN          NaN
2021-05-08     sábado          NaN          NaN
2021-05-09    domingo          NaN          NaN
2021-05-10  laborable          NaN          NaN
2021-05-11  laborable          NaN          NaN

[2060 rows x 3 columns]

In [14]:
new_df_holidays.index.is_all_dates

<ipython-input-14-46e86d0e768b>:1: FutureWarning: Index.is_all_dates is deprecated, will be removed in a future version.  check index.inferred_type instead
  new_df_holidays.index.is_all_dates

True

In [15]:
pd.infer_freq(new_df_holidays.index)

'D'

In [16]:
new_df_holidays.day_type.unique()

array(['laborable', 'sábado', 'domingo', 'festivo'], dtype=object)

In [17]:
new_df_holidays.holiday_type.unique()

array([nan, 'Festivo nacional', 'Festivo local de la ciudad de Madrid',
       'Festivo de la comunidad de Madrid',
       'Festivo de la Comunidad de Madrid'], dtype=object)

In [18]:
new_df_holidays.holiday_name.unique()

array([nan, 'Fiesta Nacional de España', 'Todos los Santos',
       'Ntra. Sra. de la Almudena. Patrona de la ciudad',
       'Día de la Constitución', 'Inmaculada Concepción',
       'Natividad del Señor', 'Año Nuevo', 'Epifania del Señor',
       'Jueves Santo', 'Viernes Santo', 'Fiesta del Trabajo',
       'Dos de Mayo. Fiesta de la Comunidad de Madrid',
       'Traslado San Isidro Labrador', 'Santiago Apostol',
       'Asuncion de la Virgen', 'Traslado Natividad del Señor',
       'Traslado de la festividad de San Jose', 'San Isidro Labrador',
       'traslado de la Epifanía del Señor',
       'traslado de la Inmaculada Concepción',
       'Fiesta de la Comunidad de Madrid',
       'Traslado del Día de Todos los Santos',
       'Traslado del Día de la Constitución', 'San José',
       'Traslado Fiesta de la Comunidad de Madrid'], dtype=object)

In [19]:
new_df_holidays.to_csv("data/raw_data/holidays_clean.csv", index=True)