In [1]:
import pandas as pd
import numpy as np

import datetime
import seaborn as sns
from matplotlib import rcParams
import matplotlib.pyplot as plt
# figure size in inches
rcParams['figure.figsize'] = 30,8

In [2]:
df_climate = pd.read_excel ('data/raw_data/raw_climate.xlsx')
df_climate.head()

,Y,M,D,T,TM,Tm,SLP,STP,H,PP,VV,V,VM,VG,FG,RA,SN,GR,TS,TR
0,2015,9,1,23.6,31,15.7,-,-,50,0.0,11.4,7.2,13,31.7,0,0,0,0,0,0
1,2015,9,2,24.9,31,17.8,-,-,47,0.0,10.8,10.4,24.1,50,0,0,0,0,0,0
2,2015,9,3,22.7,27.5,17,-,-,38,0.0,13.4,10.4,16.5,48.2,0,0,0,0,0,0
3,2015,9,4,21.0,27.2,16,-,-,46,0.0,11.6,11.1,29.4,37,0,0,0,0,0,0
4,2015,9,5,20.1,27.6,12.7,-,-,41,0.0,10,8.3,16.5,-,0,0,0,0,0,0

In [3]:
df_climate.rename(columns={'Y': 'year','M': 'month', 'D': 'day', 'T':'average_temp', 'PP':'total_precip_mm', 'RA':'did_rain', 'SN': 'did_snow' }, inplace=True)
df_climate

,year,month,day,average_temp,TM,Tm,SLP,STP,H,total_precip_mm,VV,V,VM,VG,FG,did_rain,did_snow,GR,TS,TR
0,2015,9,1,23.6,31,15.7,-,-,50,0.0,11.4,7.2,13,31.7,0,0,0,0,0,0
1,2015,9,2,24.9,31,17.8,-,-,47,0.0,10.8,10.4,24.1,50,0,0,0,0,0,0
2,2015,9,3,22.7,27.5,17,-,-,38,0.0,13.4,10.4,16.5,48.2,0,0,0,0,0,0
3,2015,9,4,21.0,27.2,16,-,-,46,0.0,11.6,11.1,29.4,37,0,0,0,0,0,0
4,2015,9,5,20.1,27.6,12.7,-,-,41,0.0,10,8.3,16.5,-,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2075,2021,5,7,28.0,-,-,-,-,-,0.0,-,-,-,-,0,0,0,0,0,0
2076,2021,5,8,29.0,-,-,-,-,-,0.0,-,-,-,-,0,0,0,0,0,0
2077,2021,5,9,22.0,-,-,-,-,-,1.5,-,-,-,-,0,1,0,0,0,0
2078,2021,5,10,18.0,-,-,-,-,-,0.0,-,-,-,-,0,0,0,0,0,0
2079,2021,5,11,19.0,-,-,-,-,-,0.0,-,-,-,-,0,0,0,0,0,0

In [4]:
df_climate['date'] = pd.to_datetime(df_climate[['year', 'month', 'day']])

In [5]:
df_climate

,year,month,day,average_temp,TM,Tm,SLP,STP,H,total_precip_mm,...,V,VM,VG,FG,did_rain,did_snow,GR,TS,TR,date
0,2015,9,1,23.6,31,15.7,-,-,50,0.0,...,7.2,13,31.7,0,0,0,0,0,0,2015-09-01
1,2015,9,2,24.9,31,17.8,-,-,47,0.0,...,10.4,24.1,50,0,0,0,0,0,0,2015-09-02
2,2015,9,3,22.7,27.5,17,-,-,38,0.0,...,10.4,16.5,48.2,0,0,0,0,0,0,2015-09-03
3,2015,9,4,21.0,27.2,16,-,-,46,0.0,...,11.1,29.4,37,0,0,0,0,0,0,2015-09-04
4,2015,9,5,20.1,27.6,12.7,-,-,41,0.0,...,8.3,16.5,-,0,0,0,0,0,0,2015-09-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2075,2021,5,7,28.0,-,-,-,-,-,0.0,...,-,-,-,0,0,0,0,0,0,2021-05-07
2076,2021,5,8,29.0,-,-,-,-,-,0.0,...,-,-,-,0,0,0,0,0,0,2021-05-08
2077,2021,5,9,22.0,-,-,-,-,-,1.5,...,-,-,-,0,1,0,0,0,0,2021-05-09
2078,2021,5,10,18.0,-,-,-,-,-,0.0,...,-,-,-,0,0,0,0,0,0,2021-05-10
2079,2021,5,11,19.0,-,-,-,-,-,0.0,...,-,-,-,0,0,0,0,0,0,2021-05-11

In [6]:
mask = (df_climate['date'] > '2015-09-20') & (df_climate['date'] <= '2021-05-11')

In [7]:
new_df_climate = df_climate.loc[mask]

In [8]:
#List all my missing dates
pd.date_range(start = '2015-09-21', end = '2021-05-11' ).difference(new_df_climate.date)

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [9]:
new_df_climate.tail(25)

,year,month,day,average_temp,TM,Tm,SLP,STP,H,total_precip_mm,...,V,VM,VG,FG,did_rain,did_snow,GR,TS,TR,date
2055,2021,4,17,9.3,17.2,1.3,-,-,43,0.00,...,9.8,22.2,-,0,0,0,0,0,0,2021-04-17
2056,2021,4,18,10.6,19.3,1.7,-,-,46,0.00,...,7.2,13,-,0,0,0,0,0,0,2021-04-18
2057,2021,4,19,13.3,22,5.2,-,-,53,0.00,...,7.8,24.1,-,0,0,0,0,0,0,2021-04-19
2058,2021,4,20,13.2,19,8.3,-,-,72,0.00,...,5.9,29.4,-,0,1,0,0,1,0,2021-04-20
2059,2021,4,21,13.2,19,7,-,-,66,0.25,...,11.1,38.9,51.9,0,0,0,0,0,0,2021-04-21
2060,2021,4,22,12.9,18,9.9,-,-,80,4.83,...,5.7,14.8,-,0,1,0,0,0,0,2021-04-22
2061,2021,4,23,13.6,18,8.7,-,-,69,1.78,...,9.4,20.6,-,0,0,0,0,0,0,2021-04-23
2062,2021,4,24,12.8,17.6,7.4,-,-,72,0.00,...,8.3,18.3,-,0,1,0,0,0,0,2021-04-24
2063,2021,4,25,11.1,13,9.4,-,-,90,4.06,...,5.9,18.3,-,0,1,0,0,0,0,2021-04-25
2064,2021,4,26,13.7,20,9.4,-,-,79,10.92,...,5.7,20.6,29.4,0,1,0,0,0,0,2021-04-26
2065,2021,4,27,13.5,20.4,8.3,-,-,83,1.52,...,5,22.2,-,1,1,0,0,1,0,2021-04-27
2066,2021,4,28,13.4,20,9,-,-,79,6.86,...,9.8,29.4,46.5,0,1,0,0,0,0,2021-04-28
2067,2021,4,29,14.0,18.5,8,-,-,68,1.27,...,18,33.5,53.5,0,1,0,0,0,0,2021-04-29
2068,2021,4,30,11.4,17,5.4,-,-,62,1.52,...,9.6,22.2,42.4,0,0,0,0,0,0,2021-04-30
2069,2021,5,1,16.0,-,-,-,-,-,0.00,...,-,-,-,0,0,0,0,0,0,2021-05-01
2070,2021,5,2,18.0,-,-,-,-,-,0.00,...,-,-,-,0,0,0,0,0,0,2021-05-02
2071,2021,5,3,19.0,-,-,-,-,-,0.00,...,-,-,-,0,0,0,0,0,0,2021-05-03
2072,2021,5,4,23.0,-,-,-,-,-,0.00,...,-,-,-,0,0,0,0,0,0,2021-05-04
2073,2021,5,5,26.0,-,-,-,-,-,0.00,...,-,-,-,0,0,0,0,0,0,2021-05-05
2074,2021,5,6,27.0,-,-,-,-,-,0.00,...,-,-,-,0,0,0,0,0,0,2021-05-06
2075,2021,5,7,28.0,-,-,-,-,-,0.00,...,-,-,-,0,0,0,0,0,0,2021-05-07
2076,2021,5,8,29.0,-,-,-,-,-,0.00,...,-,-,-,0,0,0,0,0,0,2021-05-08
2077,2021,5,9,22.0,-,-,-,-,-,1.50,...,-,-,-,0,1,0,0,0,0,2021-05-09
2078,2021,5,10,18.0,-,-,-,-,-,0.00,...,-,-,-,0,0,0,0,0,0,2021-05-10
2079,2021,5,11,19.0,-,-,-,-,-,0.00,...,-,-,-,0,0,0,0,0,0,2021-05-11

In [10]:
new_df_climate = new_df_climate[["date", "average_temp", "total_precip_mm", "did_rain", "did_snow"]].set_index("date")

In [11]:
new_df_climate.sample(100)

            average_temp  total_precip_mm  did_rain  did_snow
date
2019-11-29          13.6             0.00         1         0
2019-02-01           7.8             7.62         1         0
2020-06-17          21.2             0.00         0         0
2018-07-18          27.6             0.00         0         0
2015-09-22          20.4             0.00         0         0
...                  ...              ...       ...       ...
2017-03-23           3.0             6.35         1         1
2017-06-12          30.5             0.00         0         0
2018-02-09           1.4             0.00         0         0
2018-05-30          15.3             2.29         1         0
2019-01-20           5.4             4.57         1         0

[100 rows x 4 columns]

In [12]:
new_df_climate.dtypes

average_temp       float64
total_precip_mm    float64
did_rain             int64
did_snow             int64
dtype: object

In [13]:
new_df_climate.loc[new_df_climate.total_precip_mm > 0, 'did_rain'] = 1

In [14]:
new_df_climate.to_csv("data/raw_data/climate_clean.csv" , index=True)