In [1]:
import pandas as pd
import numpy as np
from functools import reduce

import datetime
import seaborn as sns
from matplotlib import rcParams
import matplotlib.pyplot as plt
# figure size in inches
rcParams['figure.figsize'] = 30,15
pd.set_option('display.max_columns', None)

In [2]:
df_sales = pd.read_csv ('data/raw_data/sales_clean.csv')
df_climate = pd.read_csv('data/raw_data/climate_clean.csv')
df_holidays = pd.read_csv('data/raw_data/holidays_clean.csv')

In [3]:
df_climate

            date  average_temp  total_precip_mm  did_rain  did_snow
0     2015-09-21          20.9              0.0         0         0
1     2015-09-22          20.4              0.0         0         0
2     2015-09-23          19.0              0.0         0         0
3     2015-09-24          19.9              0.0         0         0
4     2015-09-25          21.4              0.0         0         0
...          ...           ...              ...       ...       ...
2055  2021-05-07          28.0              0.0         0         0
2056  2021-05-08          29.0              0.0         0         0
2057  2021-05-09          22.0              1.5         1         0
2058  2021-05-10          18.0              0.0         0         0
2059  2021-05-11          19.0              0.0         0         0

[2060 rows x 5 columns]

In [4]:
df_holidays

            date   day_type holiday_type holiday_name
0     2015-09-21  laborable          NaN          NaN
1     2015-09-22  laborable          NaN          NaN
2     2015-09-23  laborable          NaN          NaN
3     2015-09-24  laborable          NaN          NaN
4     2015-09-25  laborable          NaN          NaN
...          ...        ...          ...          ...
2055  2021-05-07  laborable          NaN          NaN
2056  2021-05-08     sábado          NaN          NaN
2057  2021-05-09    domingo          NaN          NaN
2058  2021-05-10  laborable          NaN          NaN
2059  2021-05-11  laborable          NaN          NaN

[2060 rows x 4 columns]

In [5]:
df1= pd.merge(df_sales, df_climate, how="right", on="date")

In [6]:
df1

,date,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow
0,2015-09-21,233.00,Monday,September,21,2015,20.9,0.0,0,0
1,2015-09-22,95.80,Tuesday,September,22,2015,20.4,0.0,0,0
2,2015-09-23,156.50,Wednesday,September,23,2015,19.0,0.0,0,0
3,2015-09-24,141.80,Thursday,September,24,2015,19.9,0.0,0,0
4,2015-09-25,1095.15,Friday,September,25,2015,21.4,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...
2055,2021-05-07,2154.00,Friday,May,7,2021,28.0,0.0,0,0
2056,2021-05-08,6241.70,Saturday,May,8,2021,29.0,0.0,0,0
2057,2021-05-09,6611.10,Sunday,May,9,2021,22.0,1.5,1,0
2058,2021-05-10,946.40,Monday,May,10,2021,18.0,0.0,0,0
2059,2021-05-11,723.20,Tuesday,May,11,2021,19.0,0.0,0,0

In [7]:
df2 = pd.merge(df1, df_holidays, how="right", on="date")

In [8]:
df2

,date,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow,day_type,holiday_type,holiday_name
0,2015-09-21,233.00,Monday,September,21,2015,20.9,0.0,0,0,laborable,NaN,NaN
1,2015-09-22,95.80,Tuesday,September,22,2015,20.4,0.0,0,0,laborable,NaN,NaN
2,2015-09-23,156.50,Wednesday,September,23,2015,19.0,0.0,0,0,laborable,NaN,NaN
3,2015-09-24,141.80,Thursday,September,24,2015,19.9,0.0,0,0,laborable,NaN,NaN
4,2015-09-25,1095.15,Friday,September,25,2015,21.4,0.0,0,0,laborable,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2055,2021-05-07,2154.00,Friday,May,7,2021,28.0,0.0,0,0,laborable,NaN,NaN
2056,2021-05-08,6241.70,Saturday,May,8,2021,29.0,0.0,0,0,sábado,NaN,NaN
2057,2021-05-09,6611.10,Sunday,May,9,2021,22.0,1.5,1,0,domingo,NaN,NaN
2058,2021-05-10,946.40,Monday,May,10,2021,18.0,0.0,0,0,laborable,NaN,NaN
2059,2021-05-11,723.20,Tuesday,May,11,2021,19.0,0.0,0,0,laborable,NaN,NaN

In [9]:
df2['holiday_type'] = df2['holiday_type'].str.upper()
df2['holiday_name'] = df2['holiday_name'].str.upper()

In [10]:
df2.sample(40)

,date,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow,day_type,holiday_type,holiday_name
1025,2018-07-12,1468.20,Thursday,July,12,2018,26.3,0.00,0,0,laborable,NaN,NaN
543,2017-03-17,2011.50,Friday,March,17,2017,10.9,0.00,0,0,laborable,NaN,NaN
112,2016-01-11,595.30,Monday,January,11,2016,9.9,11.18,1,0,laborable,NaN,NaN
38,2015-10-29,0.00,Thursday,October,29,2015,14.1,0.00,0,0,laborable,NaN,NaN
239,2016-05-17,234.70,Tuesday,May,17,2016,17.6,0.00,0,0,laborable,NaN,NaN
1822,2020-09-16,744.00,Wednesday,September,16,2020,23.5,0.00,1,0,laborable,NaN,NaN
1816,2020-09-10,457.80,Thursday,September,10,2020,24.1,0.00,0,0,laborable,NaN,NaN
357,2016-09-12,896.50,Monday,September,12,2016,25.9,0.00,1,0,laborable,NaN,NaN
1451,2019-09-11,1665.50,Wednesday,September,11,2019,20.1,0.00,0,0,laborable,NaN,NaN
516,2017-02-18,7437.60,Saturday,February,18,2017,6.7,0.00,0,0,sábado,NaN,NaN
487,2017-01-20,2687.60,Friday,January,20,2017,5.3,0.00,0,0,laborable,NaN,NaN
342,2016-08-28,1311.70,Sunday,August,28,2016,28.8,0.00,0,0,domingo,NaN,NaN
563,2017-04-06,1376.55,Thursday,April,6,2017,14.1,0.00,0,0,laborable,NaN,NaN
786,2017-11-15,627.00,Wednesday,November,15,2017,6.4,0.00,0,0,laborable,NaN,NaN
491,2017-01-24,1065.10,Tuesday,January,24,2017,3.4,0.00,0,0,laborable,NaN,NaN
1157,2018-11-21,1032.90,Wednesday,November,21,2018,13.3,1.78,1,0,laborable,NaN,NaN
1116,2018-10-11,1185.95,Thursday,October,11,2018,17.3,1.27,1,0,laborable,NaN,NaN
772,2017-11-01,3457.45,Wednesday,November,1,2017,13.0,0.00,0,0,festivo,FESTIVO NACIONAL,TODOS LOS SANTOS
541,2017-03-15,388.80,Wednesday,March,15,2017,13.4,0.00,0,0,laborable,NaN,NaN
569,2017-04-12,1688.90,Wednesday,April,12,2017,18.4,0.00,0,0,laborable,NaN,NaN
1465,2019-09-25,4379.55,Wednesday,September,25,2019,19.9,0.00,0,0,laborable,NaN,NaN
49,2015-11-09,2882.70,Monday,November,9,2015,13.4,0.00,0,0,festivo,FESTIVO LOCAL DE LA CIUDAD DE MADRID,NTRA. SRA. DE LA ALMUDENA. PATRONA DE LA CIUDAD
2001,2021-03-14,4718.70,Sunday,March,14,2021,8.6,0.00,0,0,domingo,NaN,NaN
818,2017-12-17,5924.20,Sunday,December,17,2017,4.0,0.00,0,0,domingo,NaN,NaN
1013,2018-06-30,3171.10,Saturday,June,30,2018,23.6,0.51,1,0,sábado,NaN,NaN
699,2017-08-20,1616.70,Sunday,August,20,2017,28.8,0.00,0,0,domingo,NaN,NaN
1452,2019-09-12,1616.00,Thursday,September,12,2019,22.1,0.00,0,0,laborable,NaN,NaN
296,2016-07-13,1086.35,Wednesday,July,13,2016,22.9,0.00,0,0,laborable,NaN,NaN
928,2018-04-06,3831.15,Friday,April,6,2018,11.6,0.00,1,1,laborable,NaN,NaN
1984,2021-02-25,601.30,Thursday,February,25,2021,8.4,0.00,0,0,laborable,NaN,NaN
574,2017-04-17,704.35,Monday,April,17,2017,18.8,0.00,0,0,laborable,NaN,NaN
454,2016-12-18,5218.95,Sunday,December,18,2016,7.8,0.00,0,0,domingo,NaN,NaN
1327,2019-05-10,2723.90,Friday,May,10,2019,20.2,0.00,0,0,laborable,NaN,NaN
572,2017-04-15,3243.60,Saturday,April,15,2017,18.2,0.00,0,0,sábado,NaN,NaN
1171,2018-12-05,1895.50,Wednesday,December,5,2018,8.3,0.00,0,0,laborable,NaN,NaN
196,2016-04-04,623.80,Monday,April,4,2016,8.4,7.11,1,0,laborable,NaN,NaN
1204,2019-01-07,4386.30,Monday,January,7,2019,3.9,0.00,0,0,festivo,FESTIVO NACIONAL,EPIFANIA DEL SEÑOR
1631,2020-03-09,381.60,Monday,March,9,2020,11.9,0.00,0,0,laborable,NaN,NaN
1935,2021-01-07,2640.80,Thursday,January,7,2021,-0.4,0.00,0,1,laborable,NaN,NaN
461,2016-12-25,3225.60,Sunday,December,25,2016,5.1,0.00,0,0,domingo,NaN,NaN

In [11]:
df2['is_closed'] = df2['total_sales'].apply(lambda x: 1 if x == 0 else 0)

In [12]:
df2['is_lockdown'] = df2['date'].apply(lambda x: 1 if x >= '2020-03-13' and x <= '2020-06-26' else 0)

In [13]:
df2['is_curfew'] = df2['date'].apply(lambda x: 1 if x >= '2020-03-13' and x <= '2021-05-09' else 0)

In [14]:
df2.head()

,date,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow,day_type,holiday_type,holiday_name,is_closed,is_lockdown,is_curfew
0,2015-09-21,233.00,Monday,September,21,2015,20.9,0.0,0,0,laborable,NaN,NaN,0,0,0
1,2015-09-22,95.80,Tuesday,September,22,2015,20.4,0.0,0,0,laborable,NaN,NaN,0,0,0
2,2015-09-23,156.50,Wednesday,September,23,2015,19.0,0.0,0,0,laborable,NaN,NaN,0,0,0
3,2015-09-24,141.80,Thursday,September,24,2015,19.9,0.0,0,0,laborable,NaN,NaN,0,0,0
4,2015-09-25,1095.15,Friday,September,25,2015,21.4,0.0,0,0,laborable,NaN,NaN,0,0,0

In [15]:
df2.corr()

,total_sales,day,year,average_temp,total_precip_mm,did_rain,did_snow,is_closed,is_lockdown,is_curfew
total_sales,1.000000,-0.030031,-0.013859,-0.265996,0.071107,0.108535,0.002959,-0.260383,-0.247142,-0.158114
day,-0.030031,1.000000,-0.023629,0.012277,-0.021252,-0.007165,0.021833,0.034367,0.015800,0.002079
year,-0.013859,-0.023629,1.000000,-0.046058,0.007636,0.044646,0.006112,0.226014,0.272899,0.688380
average_temp,-0.265996,0.012277,-0.046058,1.000000,-0.106723,-0.205768,-0.095801,0.040597,0.049200,-0.000332
total_precip_mm,0.071107,-0.021252,0.007636,-0.106723,1.000000,0.457043,0.093648,0.054079,0.049235,0.034876
did_rain,0.108535,-0.007165,0.044646,-0.205768,0.457043,1.000000,0.141058,0.094187,0.095855,0.062359
did_snow,0.002959,0.021833,0.006112,-0.095801,0.093648,0.141058,1.000000,0.058615,0.041986,0.020193
is_closed,-0.260383,0.034367,0.226014,0.040597,0.054079,0.094187,0.058615,1.000000,0.949148,0.430816
is_lockdown,-0.247142,0.015800,0.272899,0.049200,0.049235,0.095855,0.041986,0.949148,1.000000,0.458189
is_curfew,-0.158114,0.002079,0.688380,-0.000332,0.034876,0.062359,0.020193,0.430816,0.458189,1.000000

In [16]:
df2.to_csv("data/db_load_files/clean_data.csv", index=False)

In [17]:
df3 = df2.set_index("date")

In [18]:
df3

,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow,day_type,holiday_type,holiday_name,is_closed,is_lockdown,is_curfew
date,,,,,,,,,,,,,,,
2015-09-21,233.00,Monday,September,21,2015,20.9,0.0,0,0,laborable,NaN,NaN,0,0,0
2015-09-22,95.80,Tuesday,September,22,2015,20.4,0.0,0,0,laborable,NaN,NaN,0,0,0
2015-09-23,156.50,Wednesday,September,23,2015,19.0,0.0,0,0,laborable,NaN,NaN,0,0,0
2015-09-24,141.80,Thursday,September,24,2015,19.9,0.0,0,0,laborable,NaN,NaN,0,0,0
2015-09-25,1095.15,Friday,September,25,2015,21.4,0.0,0,0,laborable,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-07,2154.00,Friday,May,7,2021,28.0,0.0,0,0,laborable,NaN,NaN,0,0,1
2021-05-08,6241.70,Saturday,May,8,2021,29.0,0.0,0,0,sábado,NaN,NaN,0,0,1
2021-05-09,6611.10,Sunday,May,9,2021,22.0,1.5,1,0,domingo,NaN,NaN,0,0,1
2021-05-10,946.40,Monday,May,10,2021,18.0,0.0,0,0,laborable,NaN,NaN,0,0,0
2021-05-11,723.20,Tuesday,May,11,2021,19.0,0.0,0,0,laborable,NaN,NaN,0,0,0

In [19]:
df3['year'] = df3.year.astype('category')

In [20]:
del df3['day']
del df3['holiday_type']
del df3['holiday_name' ]

In [21]:
del df3['did_snow']

In [22]:
df4 = pd.get_dummies(df3 ,dummy_na=True)

In [23]:
df4

,total_sales,average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,day_of_week_nan,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,month_name_nan,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,year_nan,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,day_type_nan
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-21,233.00,20.9,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2015-09-22,95.80,20.4,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2015-09-23,156.50,19.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2015-09-24,141.80,19.9,0.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2015-09-25,1095.15,21.4,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-07,2154.00,28.0,0.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2021-05-08,6241.70,29.0,0.0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
2021-05-09,6611.10,22.0,1.5,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2021-05-10,946.40,18.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2021-05-11,723.20,19.0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0

In [24]:
del df4['day_type_nan']
del df4['month_name_nan']
del df4['day_of_week_nan']
del df4['year_nan']

In [25]:
df4

,total_sales,average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-21,233.00,20.9,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-22,95.80,20.4,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-23,156.50,19.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-24,141.80,19.9,0.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-25,1095.15,21.4,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-07,2154.00,28.0,0.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
2021-05-08,6241.70,29.0,0.0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1
2021-05-09,6611.10,22.0,1.5,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0
2021-05-10,946.40,18.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
2021-05-11,723.20,19.0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0

In [26]:
#add total sales lag

number_lags=1
for lag in range(1, number_lags + 1):
    df4['prev_sales'] = df4.total_sales.shift(lag)

df4.dropna(subset = ["prev_sales"], inplace=True)

In [27]:
number_lags=1
for lag in range(1, number_lags + 1):
    df4['is_post_holiday'] = df4.day_type_festivo.shift(lag)

df4.dropna(subset = ["is_post_holiday"], inplace=True)

In [28]:
df4['is_pre_holiday'] = df4.day_type_festivo.shift(-1)
df4.dropna(subset = ["is_pre_holiday"], inplace=True)

In [29]:
df4

,total_sales,average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,prev_sales,is_post_holiday,is_pre_holiday
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-23,156.50,19.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,95.80,0.0,0.0
2015-09-24,141.80,19.9,0.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,156.50,0.0,0.0
2015-09-25,1095.15,21.4,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,141.80,0.0,0.0
2015-09-26,2588.05,20.8,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,1095.15,0.0,0.0
2015-09-27,1316.90,21.2,0.0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,2588.05,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-06,649.40,27.0,0.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,751.70,0.0,0.0
2021-05-07,2154.00,28.0,0.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,649.40,0.0,0.0
2021-05-08,6241.70,29.0,0.0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,2154.00,0.0,0.0
2021-05-09,6611.10,22.0,1.5,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,6241.70,0.0,0.0
2021-05-10,946.40,18.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,6611.10,0.0,0.0

In [30]:
df4.corr()

,total_sales,average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,prev_sales,is_post_holiday,is_pre_holiday
total_sales,1.000000,-0.265401,0.070753,0.107756,-0.260874,-0.247607,-0.158908,0.061382,-0.229944,0.552109,0.243729,-0.198493,-0.243472,-0.185655,0.008122,-0.116339,0.156834,0.077383,0.110025,-0.118126,-0.073275,0.035087,-0.068697,0.040252,-0.028058,-0.052284,-0.037045,-0.003090,0.006472,0.061970,0.088307,-0.182050,0.077631,0.241963,0.165263,-0.654880,0.545216,0.513002,0.087132,0.052128
average_temp,-0.265401,1.000000,-0.106484,-0.205288,0.040832,0.049427,0.000128,0.004268,0.001329,-0.001832,-0.003456,0.006336,-0.007747,0.001090,-0.077256,0.409125,-0.320523,-0.268473,-0.379292,0.440144,0.302942,-0.190076,0.122291,-0.195127,0.023458,0.237393,-0.085706,0.028521,0.055330,0.005609,0.036277,0.034119,-0.175347,-0.001710,-0.075289,0.033945,-0.001045,-0.262695,-0.070514,-0.076861
total_precip_mm,0.070753,-0.106484,1.000000,0.456924,0.053975,0.049137,0.034658,-0.001027,0.002885,0.028510,-0.003156,-0.017682,-0.010256,0.000711,0.117671,-0.042243,-0.033296,-0.007403,-0.026415,-0.036932,-0.055590,0.030353,0.009356,0.035375,0.028145,-0.030228,-0.013450,0.028376,-0.049706,0.036935,-0.021778,0.002766,0.017185,-0.001887,0.006219,-0.020022,0.025342,0.089086,0.003858,0.001483
did_rain,0.107756,-0.205288,0.456924,1.000000,0.093982,0.095663,0.061895,0.011449,0.014452,-0.000562,0.005444,-0.012573,-0.002637,-0.015576,0.149410,-0.135674,0.001137,-0.010410,0.015795,-0.095857,-0.046582,0.041448,0.014794,0.101058,0.034119,-0.094744,-0.044061,0.031551,-0.105111,0.090208,-0.036336,0.020559,0.037488,0.008273,0.010337,-0.008265,-0.003082,0.079444,-0.005594,0.005026
is_closed,-0.260874,0.040832,0.053975,0.093982,1.000000,0.949144,0.430734,0.001665,-0.004332,0.001665,-0.004332,0.001665,0.002009,0.001665,0.146791,-0.070106,-0.077430,-0.073711,-0.070112,-0.070106,0.141015,0.061629,0.167029,-0.076049,-0.004241,-0.070837,0.042086,-0.114251,-0.114061,-0.114061,-0.114061,0.467496,-0.055159,-0.003323,0.002356,0.002938,-0.001964,-0.259431,0.002356,0.002356
is_lockdown,-0.247607,0.049427,0.049137,0.095663,0.949144,1.000000,0.458121,0.005339,-0.000944,-0.000944,-0.000944,-0.000944,-0.000621,-0.000944,0.161274,-0.066540,-0.073493,-0.069962,-0.073493,-0.066540,0.154517,0.072192,0.182130,-0.072182,-0.073493,-0.067234,-0.052690,-0.108441,-0.108261,-0.108261,-0.108261,0.501021,-0.060542,0.000028,0.007459,0.000535,-0.005010,-0.247444,0.007459,0.007459
is_curfew,-0.158908,0.000128,0.034658,0.061895,0.430734,0.458121,1.000000,0.001863,-0.001574,0.001863,0.001863,-0.001574,-0.000868,-0.001574,0.097839,-0.003983,-0.030403,-0.030399,-0.030403,-0.003983,-0.003913,0.049286,0.026878,-0.029861,-0.030403,-0.011252,-0.115013,-0.236708,-0.236315,-0.236315,-0.236315,0.687933,0.505546,0.004000,0.010492,-0.004806,-0.003536,-0.162378,0.010492,0.010492
day_of_week_Friday,0.061382,0.004268,-0.001027,0.011449,0.001665,0.005339,0.001863,1.000000,-0.166761,-0.166761,-0.166761,-0.166761,-0.166430,-0.166761,0.001343,-0.000808,-0.002830,-0.001501,0.002013,-0.000808,0.002997,0.002013,-0.002981,0.001343,-0.002830,0.002178,-0.001890,0.002502,-0.000612,-0.000612,-0.000612,-0.001130,0.002395,-0.165767,0.049087,0.224823,-0.164438,-0.198385,0.006977,-0.035132
day_of_week_Monday,-0.229944,0.001329,0.002885,0.014452,-0.004332,-0.000944,-0.001574,-0.166761,1.000000,-0.166761,-0.166761,-0.166761,-0.166430,-0.166761,0.001343,-0.000808,-0.002830,0.003544,-0.002830,0.004454,-0.002345,-0.002830,0.002133,0.001343,0.002013,-0.003038,-0.001890,-0.001130,-0.000612,0.003024,-0.000612,-0.001130,0.002395,-0.165767,0.056105,0.221850,-0.164438,0.243768,-0.063206,-0.014078
day_of_week_Saturday,0.552109,-0.001832,0.028510,-0.000562,0.001665,-0.000944,0.001863,-0.166761,-0.166761,1.000000,-0.166761,-0.166761,-0.166430,-0.166761,0.001343,-0.000808,0.002013,0.003544,-0.002830,-0.000808,0.002997,-0.002830,-0.002981,-0.003573,0.002013,0.002178,-0.001890,0.002502,-0.000612,-0.000612,-0.000612,-0.001130,0.002395,-0.165767,-0.035132,-0.592796,0.986068,0.061450,0.049087,-0.063206
day_of_week_Sunday,0.243729,-0.003456,-0.003156,0.005444,-0.004332,-0.000944,0.001863,-0.166761,-0.166761,-0.166761,1.000000,-0.166761,-0.166430,-0.166761,0.001343,-0.006071,0.002013,-0.001501,0.002013,0.004454,-0.002345,-0.002830,0.002133,0.001343,-0.002830,0.002178,-0.001890,-0.001130,0.003024,-0.000612,-0.000612,-0.001130,0.002395,0.994039,-0.063206,-0.592796,-0.164438,0.552100,-0.035132,0.056105
day_of_week_Thursday,-0.198493,0.006336,-0.017682,-0.012573,0.001665,-0.000944,-0.001574,-0.166761,-0.166761,-0.166761,-0.166761,1.000000,-0.166430,-0.166761,0.001343,0.004454,0.002013,-0.001501,-0.002830,-0.006071,0.002997,0.002013,-0.002981,0.001343,0.002013,-0.003038,0.004568,-0.001130,-0.000612,-0.000612,-0.000612,0.002502,-0.003314,-0.165767,0.006977,0.242662,-0.164438,-0.185549,-0.000041,0.049087
day_of_week_Tuesday,-0.243472,-0.007747,-0.010256,-0.002637,0.002009,-0.000621,-0.000868,-0.166430,-0.166430,-0.166430,-0.166430,-0.166430,1.000000,-0.166430,-0.003147,-0.000412,0.002455,-0.001085,0.002455,-0.000412,-0.001958,0.002455,0.002547,-0.003147,0.002455,-0.002641,-0.001578,-0.000484,0.000034,0.000034,0.003674,-0.000484,-0.002957,-0.165438,-0.013811,0.250980,-0.164111,-0.229282,0.056472,0.000246
day_of_week_Wednesday,-0.185655,0.001090,0.000711,-0.015576,0.001665,-0.000944,-0.001574,-0.166761,-0.166761,-0.166761,-0.166761,-0.166761,-0.166430,1.000000,-0.003573,0.004454,-0.002830,-0.001501,0.002013,-0.000808,-0.002345,0.002013,0.002133,0.001343,-0.002830,0.002178,0.004568,-0.001130,-0.000612,-0.000612,-0.000612,0.002502,-0.003314,-0.165767,-0.000041,0.245635,-0.164438,-0.244426,-0.014078,0.006977
month_name_April,0.008122,-0.077256,0.117671,0.149410,0.146791,0.161274,0.097839,0.001343,0.001343,0.001343,0.001343,0.001343,-0.003147,-0.003573,1.000000,-0.088403,-0.097639,-0.092949,-0.097639,-0.088403,-0.086851,-0.097639,-0.091450,-0.095898,-0.097639,-0.089324,-0.070002,-0.009119,-0.008735,-0.008735,-0.008735,-0.009119,0.131683,0.002645,0.005646,-0.007626,0.004398,0.011364,0.005646,0.049110
month_name_August,-0.116339,0.409125,-0.042243,-0.135674,-0.070106,-0.066540,-0.003983,-0.000808,-0.000808,-0.000808,-0.006071,0.004454,-0.000412,0.004454,-0.088403,1.000000,-0.090008,-0.085684,-0.090008,-0.081493,-0.080063,-0.090008,-0.084303,-0.088403,-0.090008,-0.082343,-0.064531,0.016474,0.016855,0.016855,0.016855,0.016474,-0.074147,-0.004902,-0.012373,0.011367,-0.003328,-0.118315,-0.012373,-0.012373
month_name_December,0.156834,-0.320523,-0.033296,0.001137,-0.077430,-0.073493,-0.030403,-0.002830,-0.002830,0.002013,0.002013,0.002013,0.002455,-0.002830,-0.097639,-0.090008,1.000000,-0.094636,-0.099412,-0.090008,-0.088428,-0.099412,-0.093111,-0.097639,-0.099412,-0.090946,0.173074,-0.009285,-0.008894,-0.008894,-0.008894,-0.009285,-0.081894,-0.001523,0.089116,-0.036793,0.000238,0.164924,0.089116,0.131942
month_name_February,0.077383,-0.268473,-0.007403,-0.010410,-0.073711,-0.069962,-0.030399,-0.001501,0.003544,0.003544,-0.001501,-0.001501,-0.001085,-0.001501,-0.092949,-0.085684,-0.094636,1.000000,-0.094636,-0.085684,-0.084180,-0.094636,-0.088638,-0.092949,-0.094636,-0.086577,-0.067849,-0.005761,-0.010007,-0.010007,-0.010007,-0.005761,0.125215,-0.000251,-0.061932,0.021582,0.006527,0.075720,-0.061932,-0.061932
month_name_January,0.110025,-0.379292,-0.026415,0.015795,-0.070112,-0.073493,-0.030403,0.002013,-0.002830,-0.002830,0.002013,-0.002830,0.002455,0.002013,-0.097639,-0.090008,-0.099412,-0.094636,1.000000,-0.090008,-0.088428,-0.099412,-0.093111,-0.097639,-0.099412,-0.090946,-0.071273,-0.009285,-0.008894,-0.008894,-0.008894,-0.009285,0.134075,0.003341,0.029160,-0.011393,-0.004654,0.101950,0.029160,-0.013666
month_name_July,-0.118126,0.440144,-0.036932,-0.095857,-0.070106,-0.066540,-0.003983,-0.000808,0.004454,-0.000808,0.004454,-0.006071,-0.000412,-0.000808,-0.088403,-0.081493,-0.090008,-0.085684,-0.090008,1.000000,-0.080063,-0.090008,-0.084303,-0.088403,-0.090008,-0.082343,-0.064531,0.016474,0.016855,0.016855,0.016855,0.016474,-0.074147,0.005668,-0.049597,0.015309,0.001987,-0.116400,-0.049597,-0.049597
month_name_June,-0.073275,0.302942,-0.055590,-0.046582,0.141015,0.154517,-0.003913,0.002997,-0.002345,0.002997,-0.002345,0.002997,-0.001958,-0.002345,-0.086851,-0.080063,-0.088428,-0.084180,-0.088428,-0.080063,1.000000,-0.088428,-0.082823,-0.086851,-0.088428,-0.080898,-0.063398,0.016185,0.016559,0.016559,0.016559,0.016185,-0.072845,-0.001182,-0.057869,0.021108,0.005782,-0.077798,-0.057869,-0.057869
month_name_March,0.035087,-0.190076,0.030353,0.041448,0.061629,0.072192,0.049286,0.002013,-0.002830,-0.002830,-0.002830,0.002013,0.002455,0.002013,-0.097639,-0.090008,-0.099412,-0.094636,-0.099412,-0.090008,-0.088428,1.000000,-0.093111,-0.097639,-0.099412,-0.090946,-0.071273,-0.009285,-0.008894,-0.008894,-0.008894,-0.009285,0.134075,-0.001523,-0.013666,0.006749,0.000238,0.032551,-0.013666,-0.005101
month_name_May,-0.068697,0.122291,0.009356,0.014794,0.167029,0.182130,0.026878,-0.002981,0.002133,-0.002981,0.002133,-0.002981,0.002547,0.002133,-0.091450,-0.084303,-0.093111,-0.088638,-0.093111,-0.084303,-0.082823,-0.093111,1.000000,-0.091450,-0.093111,-0.085182,-0.066755,0.007683,0.008067,0.008067,0.008067,0.007683,-0.003147,-0.001758,0.092803,-0.030259,-0.010441,-0.057251,0.092803,0.038543
month_name_November,0.040252,-0.195127,0.035375,0.101058,-0.076049,-0.072182,-0.029861,0.001343,0.001343,-0.003573,0.001343,0.001343,-0.003147,0.001343,-0.095898,-0.088403,-0.097639,-0.092949,-0.097639,-0.088403,-0.086851,-0.097639,-0.091450,1.000000,-0.097639,-0.089324,0.169988,-0.009119,-0.008735,-0.008735,-0.008735,-0.009119,-0.080433,-0.002292,0.040417,-0.011309,-0.005532,0.040948,0.040417,-0.003047
month_name_October,-0.028058,0.023458,0.028145,0.034119,-0.004241,-0.073493,-0.030403,-0.002830,0.002013,0.002013,-0.002830,0.002013,0.002455,-0.002830,-0.097639,-0.090008,-0.099412,-0.094636,-0.099412,-0.090008,-0.088428,-0.099412,-0.093111,-0.097639,1.000000,-0.090946,0.173074,-0.009285,-0.008894,-0.008894,-0.008894,-0.009285,-0.081894,-0.001523,-0.013666,0.006749,0.000238,-0.030275,-0.013666,0.029160
month_name_September,-0.052284,0.237393,-0.030228,-0.094744,-0.070837,-0.067234,-0.011252,0.002178,-0.003038,0.002178,0.002178,-0.003038,-0.002641,0.002178,-0.089324,-0.082343,-0.090946,-0.086577,-0.090946,-0.082343,-0.080898,-0.090946,-0.085182,-0.089324,-0.090946,1.000000,0.002707,0.009008,0.009385,0.009385,0.009385,0.009008,-0.074920,0.003395,-0.059517,0.018948,0.005033,-0.056651,-0.059517,-0.059517
year_2015.0,-0.037045,-0.085706,-0.013450,-0.044061,0.042086,-0.052690,-0.115013,-0.001890,-0.001890,-0.001890,-0.001890,0.004568,-0.001578,0.004568,-0.070002,-0.064531,0.173074,-0.067849,-0.071273,-0.064531,-0.063398,-0.071273,-0.066755,0.169988,0.173074,0.002707,1.000000,-0.105166,-0.104991,-0.104991,-0.104991,-0.105166,-0.058713,-0.013925,0.021889,0.000884,0.000311,-0.037954,0.021889,0.033310
year_2016.0,-0.003090,0.028521,0.028376,0.031551,-0.114251,-0.108441,-0.236708,0.002502,-0.001130,0.002502,-0.001130,-0.001130,-0.000484,-0.001130,-0.009119,0.016474,-0.009285,-0.005761,-0.009285,0.016474,0.016185,-0.009285,0.007683,-0.009119,-0.009285,0.009008,-0.105166,1.000000,-0.216080,-0.216080,-0.216080,-0.216440,-0.120837,-0.002835,0.000347,-0.003295,0.007096,-0.002871,0.000347,-0.006076
year_2017.0,0.006472,0.055330,-0.049706,-0.105111,-0.114061,-0.108261,-0.236315,-0.000612,-0.000612,-0.000612,0.003024,-0.000612,0.000034,-0.000612,-0.008735,0.016855,-0.008894,-0.010007,-0.008894,0.016855,0.016559,-0.008894,0.008067,-0.008735,-0.008894,0.009385,-0.104991,-0.216080,1.000000,-0.215721,-0.215721,-0.216080,-0.120636,0.004981,-0.005820,-0.004175,0.003944,0.006191,-0.005820,0.000610
year_2018.0,0.061970,0.005609,0.036935,0.090208,-0.114061,-0.108261,-0.236315,-0.000612,0.003024,-0.000612,-0.000612,-0.000612,0.000034,-0.000612,-0.008735,0.016855,-0.008894,-0.010007,-0.008894,0.016855,0.016559,-0.008894,0.008067,-0.008735,-0.008894,0.009385,-0.104991,-0.216080,-0.215721,1.000000,-0.215721,-0.216080,-0.120636,0.001330,-0.005820,0.003996,-0.003401,0.062206,-0.005820,-0.005820
year_2019.0,0.088307,0.036277,-0.021778,-0.036336,-0.114061,-0.108261,-0.236315,-0.000612,-0.000612,-0.000612,-0.000612,-0.000612,0.003674,-0.000612,-0.008735,0.016855,-0.008894,-0.010007,-0.008894,0.016855,0.016559,-0.008894,0.008067,-0.008735,-0.008894,0.009385,-0.104991,-0.216080,-0.215721,-0.215721,1.000000,-0.216080,-0.120636,0.001330,-0.005820,0.003996,-0.003401,0.088368,-0.005820,-0.005820
year_2020.0,-0.182050,0.034119,0.002766,0.020559,0.467496,0.501021,0.687933,-0.001130,-0.001130,-0.001130,-0.001130,0.002502,-0.000484,0.002502,-0.009119,0.016474,-0.009285,-0.005761,-0.009285,0.016474,0.016185,-0.009285,0.007683,-0.009119,-0.009285,0.009008,-0.105166,-0.216440,-0.216080,-0.216080,-0.216080,1.000000,-0.120837,0.000812,-0.006076,0.004868,-0.003909,-0.181827,-0.006076,-0.006076
year_2021.0,0.077631,-0.175347,0.017185,0.037488,-0.055159,-0.060542,0.505546,0.002395,0.002395,0.002395,0.002395,-0.003314,-0.002957,-0.003314,0.131683,-0.074147,-0.081894,0.125215,0.134075,-0.074147,-0.072845,0.134075,-0.003147,-0.080433,-0.081894,-0.074920,-0.058713,-0.120837,-0.120636,-0.120636,-0.120636,-0.120837,1.000000,0.003492,0.017074,-0.009248,-0.000796,0.077715,0.017074,0.006979
day_type_domingo,0.241963,-0.001710,-0.001887,0.008273,-0.003323,0.000028,0.004000,-0.165767,-0.165767,-0.165767,0.994039,-0.165767,-0.165438,-0.165767,0.002645,-0.004902,-0.001523,-0.000251,0.003341,0.005668,-0.001182,-0.001523,-0.001758,-0.002292,-0.001523,0.003395,-0.013925,-0.002835,0.004981,0.001330,0.001330,0.000812,0.003492,1.000000,-0.083758,-0.589263,-0.163458,0.551456,-0.034420,0.050161
day_type_festivo,0.165263,-0.075289,0.006219,0.010337,0.002356,0.007459,0.010492,0.049087,0.056105,-0.035132,-0.063206,0.006977,-0.013811,-0.000041,0.005646,-0.012373,0.089116,-0.061932,0.029160,-0.049597,-0.057869,-0.013666,0.092803,0.040417,-0.013666,-0.059517,0.021889,0.000347,-0.005820,-0.005820,-0.005820,-0.006076,0.017074,-0.083758,1.000000,-0.299526,-0.083086,0.052159,0.106364,0.106364
day_type_laborable,-0.654880,0.033945,-0.020022,-0.008265,0.002938,0.000535,-0.004806,0.224823,0.221850,-0.592796,-0.592796,0.242662,0.250980,0.245635,-0.007626,0.011367,-0.036793,0.021582,-0.011393,0.015309,0.021108,0.006749,-0.030259,-0.011309,0.006749,0.018948,0.000884,-0.003295,-0.004175,0.003996,0.003996,0.004868,-0.009248,-0.589263,-0.299526,1.000000,-0.584538,-0.478357,-0.052403,-0.036629
day_type_sábado,0.545216,-0.001045,0.025342,-0.003082,-0.001964,-0.005010,-0.003536,-0.164438,-0.164438,0.986068,-0.164438,-0.164438,-0.164111,-0.164438,0.004398,-0.003328,0.000238,0.006527,-0.004654,0.001987,0.005782,0.000238,-0.010441,-0.005532,0.000238,0.005033,0.000311,0.007096,0.003944,-0.003401,-0.003401,-0.003909,-0.000796,-0.163458,-0.083086,-0.584538,1.000000,0.060522,0.044521,-0.061819
prev_sales,0.513002,-0.262695,0.089086,0.079444,-0.259431,-0.247444,-0.162378,-0.198385,0.243768,0.061450,0.552100,-0.185549,-0.229282,-0.244426,0.011364,-0.118315,0.164924,0.075720,0.101950,-0.116400,-0.077798,0.032551,-0.057251,0.040948,-0.030275,-0.056651,-0.037954,-0.002871,0.006191,0.062206,0.088368,-0.181827,0.077715,0.551456,0.052159,-0.478357,0.060522,1.000000,0.165277,0.063622
is_post_holiday,0.087132,-0.070514,0.003858,-0.005594,0.002356,0.007459,0.010492,0.006977,-0.063206,0.049087,-0.035132,-0.000041,0.056472,-0.014078,0.005646,-0.012373,0.089116,-0.061932,0.029160,-0.049597,-0.057869,-0.013666,0.092803,0.040417,-0.013666,-0.059517,0.021889,0.000347,-0.005820,-0.005820,-0.005820,-0.006076,0.017074,-0.034420,0.106364,-0.052403,0.044521,0.165277,1.000000,0.019483
is_pre_holiday,0.052128,-0.076861,0.001483,0.005026,0.002356,0.007459,0.010492,-0.035132,-0.014078,-0.063206,0.056105,0.049087,0.000246,0.006977,0.049110,-0.012373,0.131942,-0.061932,-0.013666,-0.049597,-0.057869,-0.005101,0.038543,-0.003047,0.029160,-0.059517,0.033310,-0.006076,0.000610,-0.005820,-0.005820,-0.006076,0.006979,0.050161,0.106364,-0.036629,-0.061819,0.063622,0.019483,1.000000

In [31]:
df4.to_excel("data/test.xlsx", index=True)

In [181]:


from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier , GradientBoostingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis , QuadraticDiscriminantAnalysis

from sklearn.linear_model import LinearRegression,Ridge,Lasso,RidgeCV, ElasticNet,SGDRegressor
from sklearn.ensemble import RandomForestRegressor,BaggingRegressor,GradientBoostingRegressor,AdaBoostRegressor 
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor

from sklearn.preprocessing import  Normalizer , scale
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFECV
from sklearn.model_selection import GridSearchCV, KFold , cross_val_score,RandomizedSearchCV


from sklearn.preprocessing import MinMaxScaler , StandardScaler, LabelEncoder
from sklearn.metrics import mean_squared_log_error,mean_squared_error, r2_score,mean_absolute_error 

from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

####

In [182]:
X = df4.drop(['total_sales'], axis=1)
y = df4['total_sales']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20)

In [183]:
models = { "ridge": Ridge(),
          "lasso": Lasso(),
          "sgd": SGDRegressor(),
          "knn": KNeighborsRegressor(),
          "gradient": GradientBoostingRegressor()
}

In [184]:
for name, model in models.items():
    print(f"Entrenando modelo ---> {name}")
    model.fit(X_train,y_train)
    print(f"He acabado :)")

Entrenando modelo ---> ridge
He acabado :)
Entrenando modelo ---> lasso
He acabado :)
Entrenando modelo ---> sgd
He acabado :)
Entrenando modelo ---> knn
He acabado :)
Entrenando modelo ---> gradient
He acabado :)

In [185]:
for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f"--------{name}--------")
    print("MAE: ", mean_absolute_error(y_test, y_pred))
    print("MSE: ", mean_squared_error(y_test,y_pred))
    print("RMSE: ", np.sqrt(mean_squared_error(y_test,y_pred)))
    print("R2: ", r2_score(y_test,y_pred))
    print("\n")

--------ridge--------
MAE:  875.9570617419739
MSE:  1501667.4290011108
RMSE:  1225.425407359057
R2:  0.6994623099574828


--------lasso--------
MAE:  876.5911619449099
MSE:  1512529.1351417925
RMSE:  1229.8492326874025
R2:  0.6972884917002589


--------sgd--------
MAE:  3591728060115478.5
MSE:  2.4412952134399505e+31
RMSE:  4940946481636844.0
R2:  -4.885910222126512e+24


--------knn--------
MAE:  1289.7386067961165
MSE:  3298764.7291740873
RMSE:  1816.2501835303658
R2:  0.33979847165015886


--------gradient--------
MAE:  616.7830689515188
MSE:  959398.898252148
RMSE:  979.4891006295823
R2:  0.8079897564923324

In [192]:
model = RandomForestRegressor()

params = {'n_estimators': [10,30,40,50,100],
          'max_features': ["sqrt"],
          'max_depth': [15,20,25],
          'min_samples_leaf': [1,2,4,6,8,10]}

grid_search = GridSearchCV(model, param_grid=params, verbose=1, n_jobs=-1,cv=5)

grid_search.fit(X_train, y_train)

Fitting 5 folds for each of 90 candidates, totalling 450 fits

GridSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'max_depth': [15, 20, 25], 'max_features': ['sqrt'],
                         'min_samples_leaf': [1, 2, 4, 6, 8, 10],
                         'n_estimators': [10, 30, 40, 50, 100]},
             verbose=1)

In [193]:
bestscore = grid_search.best_score_
print("Best GridSearch Score: ", bestscore)
best_rf = grid_search.best_estimator_
print("Best Estimator: ", best_rf)
print("Best RF SCORE: ", best_rf.score(X, y))

Best GridSearch Score:  0.8299862860879792
Best Estimator:  RandomForestRegressor(max_depth=20, max_features='sqrt')
Best RF SCORE:  0.9436785571679428

In [194]:
X["predicted_sales"] = best_rf.predict(X)

In [195]:
X["actual_total_sales"] = y

In [197]:
X

,average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,prev_sales,is_post_holiday,is_pre_holiday,predicted_sales,actual_total_sales
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-23,19.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,95.80,0.0,0.0,309.949916,156.50
2015-09-24,19.9,0.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,156.50,0.0,0.0,326.518685,141.80
2015-09-25,21.4,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,141.80,0.0,0.0,1698.295528,1095.15
2015-09-26,20.8,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,1095.15,0.0,0.0,3042.714300,2588.05
2015-09-27,21.2,0.0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,2588.05,0.0,0.0,1868.112000,1316.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-06,27.0,0.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,751.70,0.0,0.0,771.206853,649.40
2021-05-07,28.0,0.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,649.40,0.0,0.0,2026.929072,2154.00
2021-05-08,29.0,0.0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,2154.00,0.0,0.0,4458.060000,6241.70
2021-05-09,22.0,1.5,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,6241.70,0.0,0.0,5827.272300,6611.10
2021-05-10,18.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,6611.10,0.0,0.0,1054.118550,946.40

In [198]:
import pickle

In [199]:
# save the model to disk
pickle.dump(best_rf, open("models/best_rf.pkl", 'wb'))

'''
# load the model from disk
loaded_model = pickle.load(open("mi_mejor_modelo", 'rb'))
loaded_model.predict(X_test)
'''

'\n# load the model from disk\nloaded_model = pickle.load(open("mi_mejor_modelo", \'rb\'))\nloaded_model.predict(X_test)\n'

In [200]:
import joblib

#autoMachineLearning
import h2o
from h2o.automl import H2OAutoML

In [201]:
h2o.init() #To start h2o

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         1 hour 36 mins
H2O_cluster_timezone:       Europe/Paris
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.2
H2O_cluster_version_age:    18 days
H2O_cluster_name:           H2O_from_python_fran_jlddwv
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2.961 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.5 final
--------------------------  ------------------------------------------------------------------

In [202]:
h2train = h2o.H2OFrame(df4)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [203]:
x = list(df4.columns)
x.remove('total_sales')

y = "total_sales"

print("X:", x)
print("y:", y)

X: ['average_temp', 'total_precip_mm', 'did_rain', 'is_closed', 'is_lockdown', 'is_curfew', 'day_of_week_Friday', 'day_of_week_Monday', 'day_of_week_Saturday', 'day_of_week_Sunday', 'day_of_week_Thursday', 'day_of_week_Tuesday', 'day_of_week_Wednesday', 'month_name_April', 'month_name_August', 'month_name_December', 'month_name_February', 'month_name_January', 'month_name_July', 'month_name_June', 'month_name_March', 'month_name_May', 'month_name_November', 'month_name_October', 'month_name_September', 'year_2015.0', 'year_2016.0', 'year_2017.0', 'year_2018.0', 'year_2019.0', 'year_2020.0', 'year_2021.0', 'day_type_domingo', 'day_type_festivo', 'day_type_laborable', 'day_type_sábado', 'prev_sales', 'is_post_holiday', 'is_pre_holiday']
y: total_sales

In [204]:
#TRAINING all the h20 models

automl = H2OAutoML(max_models=40, max_runtime_secs=10000, sort_metric='RMSE')
automl.train(x=x, y=y, training_frame=h2train)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [205]:
#Showing the best performers

leader_board = automl.leaderboard
leader_board.head()

model_id,rmse,mean_residual_deviance,mse,mae,rmsle
StackedEnsemble_AllModels_AutoML_20210517_174810,849.769,722107,722107,535.825,nan
StackedEnsemble_BestOfFamily_AutoML_20210517_174810,865.707,749449,749449,548.032,nan
GBM_grid__1_AutoML_20210517_174810_model_5,889.834,791804,791804,562.688,nan
GBM_2_AutoML_20210517_174810,897.192,804954,804954,570.036,nan
GBM_grid__1_AutoML_20210517_174810_model_1,897.644,805765,805765,571.272,nan
DRF_1_AutoML_20210517_174810,898.268,806885,806885,568.687,0.783744
GBM_3_AutoML_20210517_174810,899.32,808776,808776,571.594,nan
GBM_4_AutoML_20210517_174810,902.584,814658,814658,569.032,nan
GBM_1_AutoML_20210517_174810,906.704,822112,822112,575.627,nan
GBM_grid__1_AutoML_20210517_174810_model_7,908.27,824954,824954,583.767,nan

In [206]:
# save the model to disk
model_path = h2o.save_model(model=automl.leader, path="models/autostacked", force=True)
print (model_path)

/mnt/c/Users/lesto/Desktop/Ironhack/CityPlayForecast/models/autostacked/StackedEnsemble_AllModels_AutoML_20210517_174810

In [207]:
#Loading the TEST dataset

stacked_test = X
h2test_stacked = h2o.H2OFrame(stacked_test) #Conversion into a H20 frame to train
h2test_stacked.head() #preview

Parse progress: |█████████████████████████████████████████████████████████| 100%

average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,prev_sales,is_post_holiday,is_pre_holiday,predicted_sales,actual_total_sales
19,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,95.8,0,0,309.95,156.5
19.9,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,156.5,0,0,326.519,141.8
21.4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,141.8,0,0,1698.3,1095.15
20.8,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,1095.15,0,0,3042.71,2588.05
21.2,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,2588.05,0,0,1868.11,1316.9
18.4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,1316.9,0,0,1443.63,1929
18.1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,1929,0,0,723.578,578
18.4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,578,0,0,597.219,552.2
18.4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,552.2,0,0,494.339,429.3
19.6,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,429.3,0,0,2015.19,1955.4

In [208]:
predicted_price_h2_stacked = automl.leader.predict(h2test_stacked).as_data_frame() #PREDICTING the Sales on the TEST dataset
predicted_price_h2_stacked #Result

stackedensemble prediction progress: |████████████████████████████████████| 100%

          predict
0      646.195920
1      560.715196
2     1238.750973
3     2888.874782
4     1892.792346
...           ...
2052   943.759990
2053  2049.660548
2054  5586.464017
2055  5814.359039
2056  1202.993241

[2057 rows x 1 columns]

In [409]:
pred = X
pred

,average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,prev_sales,is_post_holiday,is_pre_holiday
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-23,19.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,95.80,0.0,0.0
2015-09-24,19.9,0.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,156.50,0.0,0.0
2015-09-25,21.4,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,141.80,0.0,0.0
2015-09-26,20.8,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,1095.15,0.0,0.0
2015-09-27,21.2,0.0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,2588.05,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-06,27.0,0.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,751.70,0.0,0.0
2021-05-07,28.0,0.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,649.40,0.0,0.0
2021-05-08,29.0,0.0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,2154.00,0.0,0.0
2021-05-09,22.0,1.5,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,6241.70,0.0,0.0
2021-05-10,18.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,6611.10,0.0,0.0

In [410]:
pred["total_sales"] = y

In [411]:
pred

,average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,prev_sales,is_post_holiday,is_pre_holiday,total_sales
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-23,19.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,95.80,0.0,0.0,156.50
2015-09-24,19.9,0.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,156.50,0.0,0.0,141.80
2015-09-25,21.4,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,141.80,0.0,0.0,1095.15
2015-09-26,20.8,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,1095.15,0.0,0.0,2588.05
2015-09-27,21.2,0.0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,2588.05,0.0,0.0,1316.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-06,27.0,0.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,751.70,0.0,0.0,649.40
2021-05-07,28.0,0.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,649.40,0.0,0.0,2154.00
2021-05-08,29.0,0.0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,2154.00,0.0,0.0,6241.70
2021-05-09,22.0,1.5,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,6241.70,0.0,0.0,6611.10
2021-05-10,18.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,6611.10,0.0,0.0,946.40

In [412]:
pred = pred.set_index(predicted_price_h2_stacked.index)

In [413]:
pred['predict'] = predicted_price_h2_stacked['predict']

In [415]:
pred.to_csv("data/h20_stacked_pred.csv", index=True)

In [209]:
single_model = h2o.get_model(automl.leaderboard.as_data_frame()['model_id'][2]) #Saving the best NON-STACKED model

In [210]:
#Another way to save it:
model_path = h2o.save_model(model=single_model, path="models/deeplearning", force=True)
saved_model = h2o.load_model(model_path)
print (saved_model)

Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_grid__1_AutoML_20210517_174810_model_5


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,50.0,50.0,37101.0,9.0,9.0,9.0,22.0,81.0,53.9

ModelMetricsRegression: gbm
** Reported on train data. **

MSE: 415580.8150768924
RMSE: 644.655578644048
MAE: 418.53620537218677
RMSLE: NaN
Mean Residual Deviance: 415580.8150768924

ModelMetricsRegression: gbm
** Reported on cross-validation data. **

MSE: 791804.0381193821
RMSE: 889.8337137462157
MAE: 562.6879311816449
RMSLE: NaN
Mean Residual Deviance: 791804.0381193821

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,mae,562.7028,25.393003,573.5618,521.2765,567.4025,589.57404,561.69904
1,mean_residual_deviance,791856.9,157603.0,916993.8,558003.0,742078.94,954680.0,787528.75
2,mse,791856.9,157603.0,916993.8,558003.0,742078.94,954680.0,787528.75
3,r2,0.8348656,0.030011341,0.80312043,0.877945,0.84295034,0.8095802,0.8407321
4,residual_deviance,791856.9,157603.0,916993.8,558003.0,742078.94,954680.0,787528.75
5,rmse,886.10785,91.30802,957.5979,746.996,861.44,977.0773,887.42816
6,rmsle,NaN,0.0,NaN,NaN,NaN,NaN,NaN

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance
0,,2021-05-17 17:48:43,3.757 sec,0.0,2186.984391,1752.607145,4.782901e+06
1,,2021-05-17 17:48:43,3.791 sec,5.0,1483.340086,1157.615382,2.200298e+06
2,,2021-05-17 17:48:43,3.819 sec,10.0,1104.611294,828.439880,1.220166e+06
3,,2021-05-17 17:48:43,3.848 sec,15.0,910.441849,651.947280,8.289044e+05
4,,2021-05-17 17:48:43,3.881 sec,20.0,808.264926,555.485957,6.532922e+05
5,,2021-05-17 17:48:44,3.909 sec,25.0,751.856177,501.978985,5.652877e+05
6,,2021-05-17 17:48:44,3.937 sec,30.0,717.578685,471.346501,5.149192e+05
7,,2021-05-17 17:48:44,3.964 sec,35.0,692.344698,449.878358,4.793412e+05
8,,2021-05-17 17:48:44,3.989 sec,40.0,672.301590,436.403824,4.519894e+05
9,,2021-05-17 17:48:44,4.016 sec,45.0,659.668378,427.362011,4.351624e+05
10,,2021-05-17 17:48:44,4.040 sec,50.0,644.655579,418.536205,4.155808e+05

Variable Importances:

                variable  relative_importance  scaled_importance  percentage
0     day_type_laborable         1.253164e+10           1.000000    0.265033
1             prev_sales         9.786065e+09           0.780909    0.206967
2   day_of_week_Saturday         7.496922e+09           0.598240    0.158553
3           average_temp         4.476040e+09           0.357179    0.094664
4     day_of_week_Friday         2.299688e+09           0.183511    0.048636
5        day_type_sábado         1.928685e+09           0.153905    0.040790
6              is_closed         1.504496e+09           0.120056    0.031819
7     day_of_week_Sunday         9.576221e+08           0.076416    0.020253
8               did_rain         7.156050e+08           0.057104    0.015134
9    month_name_December         6.128398e+08           0.048903    0.012961
10       total_precip_mm         5.842390e+08           0.046621    0.012356
11    day_of_week_Monday         5.768153e+08           0.046029    0.012199
12             is_curfew         4.611256e+08           0.036797    0.009752
13     month_name_August         3.915889e+08           0.031248    0.008282
14           is_lockdown         3.255727e+08           0.025980    0.006886
15      day_type_domingo         2.883856e+08           0.023013    0.006099
16       month_name_July         2.158808e+08           0.017227    0.004566
17           year_2021.0         2.102508e+08           0.016778    0.004447
18           year_2019.0         1.879594e+08           0.014999    0.003975
19        is_pre_holiday         1.758242e+08           0.014030    0.003719

See the whole table with table.as_data_frame()

In [413]:
df2.to_csv("data/final.csv", index=True)

In [94]:
X.to_csv("data/model_outputs/rndForrest.csv", index=True)